---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";

const menuitems = [
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <div class="flex w-full lg:w-auto items-center justify-between">
      <a href="/" class="text-lg flex items-center">
        <Icon name="bx:bxs-book-reader" class="w-6 h-6 mr-2" />
        <span class="font-bold text-slate-800">Legal Education Initiative</span>
      </a>
      <div class="block lg:hidden">
        <button 
          id="menu-toggle" 
          class="text-gray-800">
          <Icon name="bx:bx-menu" class="w-6 h-6" id="menu-icon" />
        </button>
      </div>
    </div>
    <nav
      id="nav-menu"
      class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
      <ul class="flex flex-col lg:flex-row lg:gap-3">
        {
          menuitems.map((item) => (
            <li>
              <a
                href={item.path}
                class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="lg:hidden flex items-center mt-3 gap-4">
        <Link href="/contact" size="md" block>Schedule a Session</Link>
      </div>
    </nav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link href="/contact" size="md">Schedule a Session</Link>
      </div>
    </div>
  </header>
</Container>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const navMenu = document.getElementById('nav-menu');
  const menuIcon = document.getElementById('menu-icon');

  menuToggle?.addEventListener('click', () => {
    navMenu?.classList.toggle('hidden');
    const isMenuOpen = !navMenu?.classList.contains('hidden');
    menuIcon?.setAttribute('name', isMenuOpen ? 'bx:bxs-x-circle' : 'bx:bxs-menu');
  });
</script>
