---
import { Picture } from "astro:assets";
import heroImage from "assets/legal-education-image.webp";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Students participating in an interactive legal education session"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-gray-900 dark:text-white">
      Empower Young Minds with the Power of Law
    </h1>
    <p class="text-lg mt-4 text-gray-700 dark:text-gray-300 max-w-xl">
      A unique, non-profit program dedicated to bringing free and engaging legal education to school students (ages 12+) across India. Help young minds understand their rights and build a safer, more informed future.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contact"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-calendar" />
        Schedule a Session
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/about"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bxs-info-circle" />
        Learn More
      </Link>
    </div>
  </div>
</main>
