---
import { Picture } from "astro:assets";
import studentsLearning from "assets/pexels-yogendras31-3231359.jpg";
---

<section class="py-16 lg:py-20">
  <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight mb-8 text-gray-900 dark:text-white">
      Why Legal Education Matters
    </h2>
    <p class="text-lg mt-4 text-gray-700 dark:text-gray-300">
      Too often, the law feels out of reach or intimidating, especially for
      students. We believe that understanding your fundamental rights should be
      empowering, not daunting. By introducing the basics of constitutional law
      in an interactive and accessible way, we spark a lifelong awareness that
      helps students confidently navigate society and become responsible
      citizens.
    </p>
    <div class="mt-12">      
      <Picture
        src={studentsLearning}
        alt="Students engaged in an interactive legal education session, discussing constitutional rights in a modern classroom setting"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
  </div>
</section>
